html, body, #basicMap {
width: 99.9%;
height: 99.9%;
margin: 0;
}
#map0,
#map1 {
width: 49.9%;;
min-height: 100px;
}
#map0 {
float: left;
border-right: 1px solid #8da7cc;
}
#map1 {
margin: 0 0 0 50% !important;
}
#control button {
position: absolute;
z-index: 999;
right:  1px;
height:20px;
top: 1px;
background-color: transparent;
}
#control button:hover {
background-color: #fff;
}


#map-decoration {
z-index: 999;
position: absolute;
right: 1px;
bottom: 1px;
background-color: #fff;
font-size:smaller;
font-family: Arial, sans-serif;
}
#map1 .olControlPanZoom,
#map1 .olControlAttribution {
display:none;
}


.olControlAttribution {
bottom: 0.5em !important;
left: 5px ;
}
